.nav-link {
  outline: 0;
}
body {
  background-color: #494949;
}
.center-div {
  margin: 0 auto;
  width: 30vw;
}
.email-card-width {
  width: 30vw;
}

.panel {
  height: 5vh;
  width: 100%;
  background-color: #212121;
}

.text-white {
  color: white;
}

.carousel-inner {
  overflow: hidden;
}

.carousel-item {
  width: 100%;
  height: 92vh;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-us-container {
  height: 50vh;
  width: 100%;
  background-color: gray;
}

@media (max-width: 992px) {
  .center-div {
    width: 100vw;
  }
  .email-card-width {
    width: 100%;
  }
  .btn {
    margin-left: 0;
    margin-top: 2vh;
  }
}
