<script>
    //TODO: Get and parse RSS XML feed from engage

    var events = [
        {   
            title: 'This is a test',
            start: '2019-09-20'
            //title: String
            //start: String 2019-09-20
            //end  : String 2019-09-20
        }
    ]

    var xmlReq = new XMLHttpRequest()
    xmlReq.onload = function() {
        if(this.readyState == 4 && this.status == 200) {
            var xmlDoc, x, i, txt
            xmlDoc = xmlReq.responseXML
            txt = ""
            x = xmlDoc.getElementsByTagName("item")
            for(let i = 0; i < x.length; i++) {
                // TODO: Figure out a way to convert from dd-mm-yyyy to yyyy-mm-dd
                console.log("Title : " + x[i].getElementsByTagName("title")[0].innerHTML)
                console.log("Start : " + x[i].getElementsByTagName("start")[0].innerHTML)
                console.log("End   : " + x[i].getElementsByTagName("end")[0].innerHTML)
                var newEvent = {
                    title: x[i].getElementsByTagName("title")[0].innerHTML,
                    start: x[i].getElementsByTagName("start")[0].innerHTML,
                    end  : x[i].getElementsByTagName("end")[0].innerHTML
                }
                events.push(newEvent)
            }

            //document.addEventListener('DOMContentLoaded', function() {
            var calendarDiv = document.getElementById("calendar")
            var calendar = new FullCalendar.Calendar(calendarDiv, {
                plugins: ['dayGrid', 'interaction', 'timeGrid'],
                defaultView: 'dayGridMonth',
                defaultDate: '2019-09-07',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                events: events
            })
            calendar.render()
        }  
    }
    xmlReq.open("GET", "https://sunypoly.campuslabs.com/engage/events.rss", true)
    xmlReq.send();

    
    
</script>

<div class="center-div">
    <div class="card bg-white row">
        <div class="card-body bg-white">
            <div id="calendar"></div>
        </div>
    </div>
</div>
