<div class="center-div">
    <div class="card bg-dark row m-4">
        <div class="card-header text-white">Submit your email to us to receive emails about events!</div>
        <div class="card-body">
            <form class="form-inline my-2 my-lg-0" action="/api/email_collection" method="POST">
                <input class="form-control mr-sm-2" type="email" placeholder="Email" aria-label="Email" name="email">
                <button class="btn btn-outline-success" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>